<%= render 'backend/general_form_error', object: @column %>

<%= simple_form_for(@column, url: backend_content_row_columns_path(@row)) do |f| %>
  <%= render 'column_width_explanation' %>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= render 'backend/content/rows/columns/dimension_fields', form: f %>
    </div>

    <div class="col-md-6">
      <%= f.input :content_type, collection: options_for_content_types, include_blank: false %>
    </div>
  </div>

  <%= render 'backend/form_actions', cancel_url: '#lity-close' %>
<% end %>
