<% if object.present? && object.asset.present? %>
  <% max_img_size = object.max_image_size %>

  <% if object.url.present? %>
    <%= link_to object.url do %>
      <% if object.disallow_resize? %>
        <%= image_tag object.asset.image.url, alt: '', class: 'img-fluid' %>
      <% else %>
        <%= image_tag object.asset.image.url(max_img_size, max_img_size, quality: 65), alt: '', class: 'img-fluid' %>
      <% end %>
    <% end %>

  <% else %>
    <% if object.disallow_resize? %>
      <%= image_tag object.asset.image.url, alt: '', class: 'img-fluid' %>
    <% else %>
      <%= image_tag object.asset.image.url(max_img_size, max_img_size, quality: 65), alt: '', class: 'img-fluid' %>
    <% end %>
  <% end %>

  <% if object.caption.present? %>
    <% if Udongo.config.flexible_content.picture_caption_editor? %>
      <div class="img-caption">
        <%= object.caption.html_safe %>
      </div>
    <% else %>
      <div class="text-center">
        <%= object.caption %>
      </div>
    <% end %>
  <% end %>
<% end %>
