<% if object.present? && object.asset.present? %>

  <% if object.url.present? %>
    <%= link_to object.url do %>
      <%= image_tag object.asset.image.url(1600, 1600, quality: 65), alt: '', class: 'img-fluid' %>
    <% end %>

  <% else %>
    <%= image_tag object.asset.image.url(1600, 1600, quality: 65), alt: '', class: 'img-fluid' %>
  <% end %>

  <% if object.caption.present? %>
    <% if Udongo.config.flexible_content.picture_caption_editor? %>
      <div class="img-caption">
        <%= object.caption.html_safe %>
      </div>
    <% else %>
      <div class="text-center">
        <%= object.caption %>
      </div>
    <% end %>
  <% end %>
<% end %>
