<% if object.present? && object.asset.present? %>
  <% max_img_size = object.max_image_size %>

  <% if object.background_image? %>
    <div style="background-image: url('<%= object.asset.image.url(max_img_size, max_img_size, quality: 65) %>'); height: 100%; min-height: <%= object.min_height %>px">
      &nbsp;
    </div>

  <% else %>
    <% if object.disallow_resize? %>
      <% img_path = object.asset.image.url %>
    <% else %>
      <% img_path = object.asset.image.url(max_img_size, max_img_size, quality: 65) %>
    <% end %>

    <% if object.url.present? %>
      <%= link_to object.url, target: object.target do %>
        <%= image_tag img_path, alt: '', class: 'img-fluid' %>
      <% end %>

    <% else %>
      <%= image_tag img_path, alt: '', class: 'img-fluid' %>
    <% end %>

    <% if object.caption.present? %>
      <% if Udongo.config.flexible_content.picture_caption_editor? %>
        <div class="img-caption">
          <%= object.caption.html_safe %>
        </div>
      <% else %>
        <div class="text-center">
          <%= object.caption %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
