<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>

<%= simple_form_for :session, url: backend_sessions_path do |f| %>
  <div>
    <%= f.input :email, placeholder: t('b.email'), label: false %>
  </div>

  <div>
    <%= f.input :password, as: :password, placeholder: t('b.password'), label: false %>
  </div>

  <div>
    <button type="submit"><%= t 'b.login' %></button>
  </div>
<% end %>
