<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="card card-border-color card-border-color-primary">
  <div class="card-header">
    <p class="text-center">Udongo</p>
    <span class="splash-description">Please enter your user information.</span>
  </div>

  <div class="card-body">
    <%= simple_form_for :session, url: backend_sessions_path do |f| %>
      <%= f.input :email, placeholder: t('b.email'), label: false %>
      <%= f.input :password, placeholder: t('b.password'), label: false %>

      <div class="form-group login-tools">
        <div class="login-forgot-password">
          <a href="pages-forgot-password.html">Forgot Password?</a>
        </div>
      </div>

      <div class="form-group login-submit">
        <%= f.button :submit, t('b.login'), class: 'btn btn-primary btn-xl' %>
      </div>
    <% end %>
  </div>
</div>
