<div class="login-form row">
  <div class="small-4 small-centered columns">
    <% if flash[:alert] %>
      <div class="alert-box alert radius" data-alert>
        <%= flash[:alert] %>
        <%= link_to '&times;'.html_safe, '#', class: 'close' %>
      </div>
    <% end %>

    <%= simple_form_for :session, url: backend_sessions_path do |f| %>
      <%= f.input :email, placeholder: t('b.email'), label: false %>
      <%= f.input :password, as: :password, placeholder: t('b.password'), label: false %>
      <button type="submit"><%= t 'b.login' %></button>
    <% end %>
  </div>
</div>

