<% javascript 'backend/sortable' %>
<%= render 'backend/breadcrumbs' %>

<% @navigations.each do |n| %>
  <strong><%= n.description %></strong>
  <div class="right">
    <%= link_to t('b.add'), new_backend_navigation_item_path(n), class: 'button small' %>
  </div>

  <% if n.items.any? %>
    <table>
      <thead>
        <tr>
          <th><%= t 'b.page' %></th>
          <th><%= t 'b.custom_title' %></th>
          <th><%= t 'b.custom_url' %></th>
          <th><%= t 'b.extra' %></th>
          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <% n.items.each do |i| %>
          <tr data-update-position="<%= update_position_backend_navigation_item_path(n, i) %>">
            <td>
              <%= i.page ? i.page.description : t('b.none') %>
            </td>
            <td><%= i.translation.label %></td>
            <td><%= i.translation.path %></td>
            <td><%= i.extra %></td>
            <td class="right icons">
              <%= link_to icon(:page_edit), edit_backend_navigation_item_path(n, i) %>
              <%= link_to icon(:trash), backend_navigation_item_path(n, i), method: :delete, data: { confirm: t('b.msg.confirm') }%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
    <p><%= t 'b.msg.no_items' %></p>
  <% end %>
<% end %>

<% if @navigations.empty? %>
  <div class="panel">
    <div class="panel-heading">
      <strong><%= t 'b.navigation' %></strong>
    </div>

    <div class="panel-body">
      <%= t 'b.msg.no_items' %>
    </div>
  </div>
<% end %>
