<%= render 'backend/breadcrumbs' %>

<% if @snippets.any? %>
  <table>
    <thead>
      <tr>
        <th><%= t 'b.description' %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <% @snippets.each do |a| %>
        <tr>
          <td><%= a.description %></td>
          <td class="right icons">
            <%= link_to icon(:page_edit), edit_translation_backend_snippet_path(a, translation_locale: default_locale) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p><%= t 'b.msg.no_items' %></p>
<% end %>
