<%= render 'backend/breadcrumbs' %>

<% if @snippets.any? %>
  <table class="table table-striped table-hover">
    <thead class="thead-inverse">
      <tr>
        <th><%= t 'b.description' %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <% @snippets.each do |a| %>
        <tr>
          <td><%= a.description %></td>
          <td class="text-xs-right">
            <%= link_to_edit [:backend, a] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p><%= t 'b.msg.no_items' %></p>
<% end %>
