<%= render 'backend/breadcrumbs' %>

<% if @form.submissions.any? %>
  <table class="table table-striped table-hover">
    <thead class="thead-inverse">
      <tr>
        <% if @form.email_present? %>
          <th><%= t('b.email') %></th>
        <% end %>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <% @form.submissions.each do |s| %>
        <tr>
          <% if @form.email_present? %>
            <td><%= s.data_object.email %></td>
          <% end %>
          <td class="text-xs-right">
            <%= link_to icon(:pencil_square_o), edit_backend_form_submission_path(@form, s) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p><%= t 'b.msg.no_items' %></p>
<% end %>
