<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header"><%= t 'b.msg.pages.content' %></div>
      <div class="card-block">
        <%= form.input :description %>
        <%= form.input :parent_id, collection: @model.options_for_parents, include_blank: true %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header"><%= t 'b.status' %></div>
      <div class="card-block">
        <%= form.input :visible %>
      </div>
    </div>
  </div>
</div>
