<%= render 'backend/general_form_error', object: @form %>

<%= simple_form_for [:backend, @form] do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <%= t 'b.general' %>
        </div>

        <div class="card-block">
          <%= f.input :description %>
          <%= f.input :parent_id, collection: @form.page.options_for_parents, disabled: 1 %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <%= t 'b.settings' %>
        </div>

        <div class="card-block">
          <%= f.input :visible, as: :boolean %>
        </div>
      </div>
    </div>
  </div>

  <%= render 'backend/form_actions', cancel_url: backend_pages_path %>
<% end %>
