<% present @model do |p| %>
  <% breadcrumb.add @model.description, edit_backend_page_path(@model) %>
  <% breadcrumb.add t('b.edit'), edit_backend_page_path(@model) %>
  <%= render 'backend/breadcrumbs' %>
  <%= render 'backend/form_errors', object: @model %>

  <%= simple_form_for([:backend, @model]) do |f| %>
    <ul class="nav nav-tabs with-margin">
      <li class="active">
        <%= link_to t('b.general'), '#' %>
      </li>
      <% Udongo.config.locales.each do |locale| %>
        <li><%= link_to locale.upcase, edit_translation_backend_page_path(@model, locale) %></li>
      <% end %>
    </ul>

    <%= render 'backend/pages/form_fields', f: f, presenter: p %>
    <%= render 'backend/form_actions', cancel_url: backend_pages_path %>
  <% end %>
<% end %>
