<% breadcrumb.add @model.description, edit_backend_page_path(@model) %>
<% breadcrumb.add t('b.edit') %>
<%= render 'backend/breadcrumbs' %>

<%= render 'backend/pages/tabs', active: params[:translation_locale].to_sym %>

<%= simple_form_for([:backend, @translation], url: edit_translation_backend_page_path, html: { class: 'no-focus' }) do |f| %>

  <div class="row">
    <div class="col-md-12">
      <!-- Content -->
      <div class="card">
        <div class="card-header">
          <%= t 'b.content' %>
        </div>

        <div class="card-block">
          <%= f.input :title %>
          <%= f.input :subtitle %>
        </div>
      </div>

      <!-- Flexible Content -->
      <%= render('backend/content/rows', model: @model, locale: params[:translation_locale]) unless @model.content_disabled? %>

      <!-- SEO -->
      <%= render 'backend/seo_form', f: f %>

      <!-- Tags -->
      <%= render 'backend/tags', model: @model %>
    </div>
  </div>

  <%= render 'backend/form_actions', cancel_url: backend_pages_path %>
<% end %>
