<% breadcrumb.add @model.description, edit_backend_page_path(@model) %>
<% breadcrumb.add t('b.edit'), edit_backend_page_path(@model) %>
<%= render 'backend/breadcrumbs' %>
<%= render 'backend/form_errors', object: @translation %>

<%= simple_form_for([:backend, @translation], url: edit_translation_backend_page_path) do |f| %>
  <ul class="tabs">
    <li class="tab-title">
      <%= link_to t('b.general'), edit_backend_page_path %>
    </li>
    <% Udongo.config.locales.each do |locale| %>
      <li class="tab-title <%= 'active' if params[:translation_locale] == locale %>">
        <%= link_to locale.upcase, edit_translation_backend_page_path(@translation, locale) %>
      </li>
    <% end %>
  </ul>

  <div class="row">
    <div class="large-12 columns">
      <fieldset class="radius">
        <legend><%= t 'b.headings.content' %></legend>

        <%= f.label :title %>
        <%= f.text_field :title %>

        <%= f.label :subtitle %>
        <%= f.text_field :subtitle %>

        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control markdown', rows: 10 %>
        <%# render 'backend/markdown_preview', form: f, name: :content %>

        <%# render 'backend/seo_form', f: f %>
      </fieldset>

      <%= render 'backend/tags', model: @model %>
    </div>
  </div>

  <%= render 'backend/form_actions', cancel_url: backend_pages_path %>
<% end %>
