<div class="card filter">
  <div class="card-block">
    <%= search_form_for [:backend, @search] do |f| %>
      <div class="row">
        <div class="col-md-4 form-group">
          <%= f.search_field :source_uri_cont, placeholder: t('b.source'), class: 'form-control' %>
        </div>

        <div class="col-md-4 form-group">
          <%= f.search_field :destination_uri_cont, placeholder: t('b.destination'), class: 'form-control' %>
        </div>

        <div class="col-md-4 form-group">
          <%= f.select :working_eq, options_for_collection(:working, [true, false]), { include_blank: t('b.status') }, class: 'form-control'  %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%= f.submit class: 'btn btn-primary btn-sm' %>
          <small>
            <%= link_to t('b.reset_form'), backend_redirects_path %>
          </small>
        </div>
      </div>
    <% end %>
  </div>
</div>
