<%= render 'backend/general_form_error', object: model %>

<%= simple_form_for [:backend, model] do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <%= t 'b.general' %>
        </div>

        <div class="card-block">
          <%= f.input :source_uri %>
          <%= f.input :destination_uri %>
          <%= f.input :disabled, as: :boolean %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <%= t 'b.advanced' %>
        </div>
        <div class="card-block">
          <%= f.input :status_code, collection: model.status_code_collection %>

          <div class="alert alert-info">
            <%= icon :info, t('b.msg.help_texts.status_code') %>
            <% wiki_link = 'https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#3xx_Redirection' %>
            <%= link_to wiki_link, wiki_link, target: '_blank' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary"><%= t 'b.save' %></button>
    <%= link_to t('b.delete'), backend_redirect_path(model), class: 'btn btn-secondary', method: 'DELETE', data: { confirm: t('b.msg.confirm') } %>
    <%= link_to t('b.cancel'), backend_redirects_path, class: 'btn btn-link' %>
  </div>
<% end %>
