<td><%= r.source_uri %></td>
<td><%= r.status_badge %> <%= r.destination_uri %></td>
<td><%= t r.enabled?.to_s %></td>
<td><%= r.times_used.to_i %></td>
<td class="text-right">
  <%= link_to icon(:wrench), test_backend_redirect_path(r, request.query_parameters), title: t('b.msg.redirects.title_tag'), method: 'POST' %>
  <%= link_to_edit [:backend, r], request.query_parameters %>
  <%= link_to_delete [:backend, r], request.query_parameters %>
</td>
