<% breadcrumb.add @model.name %>
<% breadcrumb.add t('b.edit'), '#' %>
<%= render 'backend/breadcrumbs' %>

<%= simple_form_for([:backend, @translation], url: edit_translation_backend_region_path) do |f| %>
  <ul class="tabs">
    <% Udongo.config.locales.each do |locale| %>
      <li class="tab-title <%= 'active' if params[:translation_locale] == locale %>">
        <%= link_to locale.upcase, edit_translation_backend_region_path(@model, locale) %>
      </li>
    <% end %>
  </ul>

  <div class="row">
    <div class="large-12 columns">
      <fieldset class="radius">
        <legend><%= t 'b.heading' %></legend>

        <%= f.input :search_title, as: :text %>
        <%= f.input :search_subtitle, as: :text %>
      </fieldset>
    </div>
  </div>

  <%= render 'backend/form_actions', cancel_url: backend_regions_path %>
<% end %>
