<%= render 'backend/breadcrumbs' %>

<%= link_to t('b.add'), new_backend_redirect_path, class: 'button' %>

<% if @redirects.any? %>
  <table class="table">
    <thead>
      <tr>
        <th class="small-4"><%= t 'b.source' %></th>
        <th class="small-4"><%= t 'b.destination' %></th>
        <th><%= t 'b.status_code' %></th>
      </tr>
    </thead>

    <tbody>
      <% @redirects.each do |r| %>
        <tr>
          <td><%= r.source_uri %></td>
          <td><%= r.destination_uri %></td>
          <td><%= r.status_code %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p><%= t 'b.msg.no_items' %></p>
<% end %>
