<%= render 'backend/breadcrumbs' %>
<%= render 'backend/redirects/filter' %>

<p class="text-right">
  <%= link_to icon(:plus, t('b.add')), new_backend_redirect_path, class: 'btn btn-primary btn-sm' %>
</p>

<% if @redirects.any? %>
  <table class="table table-hover">
    <thead class="thead-inverse">
      <tr>
        <th><%= t 'b.source' %></th>
        <th><%= t 'b.destination' %>
        (
          <span class="badge badge-success">Werkend</span>
          <span class="badge badge-danger">Stuk</span>
          <span class="badge badge-info">Ongetest</span>
        )
      </th>
        <th><%= t 'b.active' %></th>
        <th><%= t 'b.used' %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <% @redirects.each do |r| %>
        <tr>
          <%= render 'backend/redirects/row_columns', r: r.decorate, search_params: search_params %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= udongo_paginate @redirects %>
<% else %>
  <p><%= t 'b.msg.no_items' %></p>
<% end %>
