<% javascript 'backend/redirects' %>

<%= render 'backend/breadcrumbs' %>
<%= render 'backend/redirects/filter' %>

<p class="text-right">
  <%= link_to icon(:plus, t('b.add')), new_backend_redirect_path, class: 'btn btn-primary btn-sm' %>
</p>

<% if @redirects.any? %>
  <table class="table table-hover">
    <thead class="thead-inverse">
      <tr>
        <th><%= t 'b.status' %></th>
        <th><%= t 'b.source' %></th>
        <th><%= t 'b.destination' %></th>
        <th><%= t 'b.active' %></th>
        <th><%= t 'b.used' %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <td colspan="6">
          <%= t('b.msg.possible_statuses') %>:
          <span class="badge badge-success">Werkend</span>
          <span class="badge badge-danger">Stuk</span>
          <span class="badge badge-info">Ongetest</span>
        </td>
      </tr>
    </tfoot>

    <tbody>
      <% @redirects.each do |r| %>
        <tr>
          <td><%= r.status_badge.html(data: { toggle: 'tooltip' }, title: r.tooltip_text) %></td>
          <td><%= r.truncated_uri(:source_uri) %></td>
          <td><%= r.truncated_uri(:destination_uri) %></td>
          <td><%= t r.enabled?.to_s %></td>
          <td data-toggle="tooltip" title="<%= t('b.last_used_at', timestamp: l(r.updated_at, format: :short)) %>">
            <%= r.times_used.to_i %>
          </td>
          <td class="text-right">
            <%= link_to icon(:sitemap), '#', data: { toggle: 'modal', backdrop: 'static', target: '#test-redirect-modal', remote: backend_redirect_path(r) }, title: t('b.msg.redirects.title_tag') %>
            <%= link_to_edit [:backend, r], request.query_parameters %>
            <%= link_to_delete [:backend, r], request.query_parameters %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= udongo_paginate @redirects %>
<% else %>
  <p><%= t 'b.msg.no_items' %></p>
<% end %>

<%= render 'backend/redirects/test_modal' %>
