<% breadcrumb.add t('b.new'), '#' %>
<%= render 'backend/breadcrumbs' %>

<%= simple_form_for([:backend, @redirect]) do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <fieldset class="radius">
        <%= f.input :source %>
        <%= f.input :destination %>
      </fieldset>
    </div>
  </div>

  <%= render 'backend/form_actions', cancel_url: backend_redirects_path %>
<% end %>
