<% breadcrumb.add t('b.form_submissions') %>

<%= render 'backend/breadcrumbs' %>
<%= render 'backend/forms/submissions/filter' %>

<% if @submissions.any? %>
  <table class="table table-striped table-hover">
    <thead class="thead-inverse">
      <tr>
        <% if @form.email_present? %>
          <th><%= t('b.email') %></th>
        <% end %>
        <%= @form.datagrid.column_headers %>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <td colspan="2" class="text-xs-center">
          <%= udongo_paginate @submissions %><br>
        </td>
      </tr>
    </tfoot>

    <tbody>
      <% @submissions.each do |s| %>
        <tr>
          <% if @form.email_present? %>
            <td><%= mail_to s.data_object.email %></td>
          <% end %>
          <%= @form.datagrid.column_values(s) %>
          <td class="text-xs-right">
            <%= link_to icon(:search), backend_form_submission_path(@form, s) %>
            <%= link_to icon(:trash), backend_form_submission_path(@form, s), method: :delete, data: { confirm: t('b.msg.confirm') }, title: t('b.delete') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t 'b.msg.form_submissions.explanation' %></p>
<% end %>
