<%= simple_form_for [:backend, @model] do |f| %>
  <div class="card">
    <div class="card-header">
      <%= t 'b.msg.flexible_content.edit_slideshow' %>
    </div>

    <div class="card-block">
      <div class="row">
        <div class="col-md-4">
          <%= f.input :image_collection_id, collection: image_collections %>
          <%= f.input :autoplay, as: :boolean %>
          <%= f.input :slide_interval, as: :integer %>
        </div>
      </div>
    </div>
  </div>

  <%= render 'backend/form_actions', cancel_url: content_path %>
<% end %>
