<%= simple_form_for [:backend, @model] do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :image_collection_id, collection: image_collections %>
    </div>

    <div class="col-md-4">
      <%= f.input :slide_interval, as: :integer %>
    </div>

    <div class="col-md-4">
      <%= f.input :autoplay, as: :boolean %>
    </div>
  </div>

  <%= render 'backend/form_actions', cancel_url: content_path %>
<% end %>
