<ul class="left">
  <li class="has-dropdown">
    <%= link_to t('b.content'), '#' %>
    <ul class="dropdown">
      <li><%= link_to t('b.pages'), backend_pages_path %></li>
      <li><%= link_to t('b.snippets'), backend_snippets_path %></li>
    </ul>
  </li>

  <li class="has-dropdown">
    <%= link_to t('b.settings'), '#' %>
    <ul class="dropdown">
      <li><%= link_to t('b.admins'), backend_admins_path %></li>
    </ul>
  </li>
</ul>
