<%= render 'layouts/frontend/head' %>

<body class="logged-in">
  <div class="container">
    <%= render 'backend/navigation' %>
    <%= render 'backend/flash_messages' %>
    <%= yield %>
  </div>

  <%= yield(:javascripts_early) %>
  <%= javascript_include_tag 'backend/application' %>
  <%= yield(:javascripts) %>
</body>
</html>
