<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Backend - Udongo</title>

  <%= yield(:javascripts_head) %>

  <%= stylesheet_link_tag 'backend/application', media: 'all' %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <section class="content">
    <div class="row">
      <div class="large-12 columns">
        <%= render 'backend/navigation' %>
      </div>
    </div>

    <div class="row">
      <div class="large-3 columns">
        <div class="panel radius">
          <ul class="side-nav" role="navigation" title="Link List">
            <li role="menuitem"><%= link_to t('b.admins'), backend_admins_path %></li>
            <li role="menuitem"><%= link_to "Pagina's", '/backend/pages' %></li>
          </ul>
        </div>
      </div>

      <div class="large-9 columns">
        <%= render 'backend/flash_messages' %>
        <%= yield %>
      </div>
    </div>
  </section>

  <%= yield(:javascripts_early) %>
  <%= javascript_include_tag 'backend/application' %>
  <%= yield(:javascripts) %>
</body>
</html>
