<%= render 'layouts/frontend/head' %>

<body class="lightbox">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= yield(:javascripts_early) %>
  <%= javascript_include_tag 'backend/application' %>
  <%= yield(:javascripts) %>
</body>
</html>
