<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login - <%= Udongo.config.project_name %></title>

  <%= stylesheet_link_tag 'backend/application', media: 'all' %>
  <%= javascript_include_tag 'backend/application' %>
  <%= csrf_meta_tags %>
</head>

<body class="login-page">
  <div class="container">
    <div class="row">

      <%= yield %>
    </div>
  </div>
</body>
</html>
