<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Login - <%= Udongo.config.project_name %></title>

  <%= stylesheet_link_tag 'backend/application', media: 'all' %>
  <%= javascript_include_tag 'backend/application' %>
  <%= csrf_meta_tags %>
</head>

<body class="login-page">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4">
        <div class="alert alert-danger">
          <%= t 'b.msg.incorrect_login' %>
        </div>

        <div class="card">
          <div class="card-block">
            <h4 class="card-title"><%= t 'b.login' %></h4>
            <form>
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="E-mail">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Password">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary"><%= t 'b.login' %></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
