<%= render 'backend/general_form_error', object: @model %>

<%= simple_form_for [:backend, @model] do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <%= t 'b.general' %>
        </div>

        <div class="card-block">
          <%= f.input :description, as: :string %>
        </div>
      </div>
    </div>
  </div>

  <%= render 'backend/form_actions', cancel_url: backend_image_collections_path %>
<% end %>
