<% breadcrumb.add @model.description, edit_backend_form_path(@model) %>
<% breadcrumb.add t('b.edit') %>
<%= render 'backend/breadcrumbs' %>

<%= render 'backend/forms/tabs', active: params[:translation_locale].to_sym %>
<%= render 'backend/general_form_error', object: @translation %>

<%= simple_form_for([:backend, @translation], url: edit_translation_backend_form_path) do |f| %>
  <div class="card">
    <div class="card-header">
      Afhandeling na succesvol verzenden
    </div>

    <div class="card-block">
      <%= f.input :toggle, as: :button_radios, collection: [:success_message, :redirect_url], wrapper_html: { data: { testing: true } } %>

      <div data-br="form-toggle-success-message">
        <%= f.input :success_message, as: :ckeditor, label: false, wrapper_html: { class: 'mt-3' } %>
      </div>

      <div data-br="form-toggle-redirect-url">
        <%= f.input :redirect_url, label: false, placeholder: 'Geef de URL op van de pagina waarnaar je wil doorverwijzen', wrapper_html: { class: 'mt-3' } %>
      </div>
    </div>
  </div>

  <%= render 'backend/form_actions', cancel_url: backend_forms_path %>
<% end %>
