<%= render 'backend/breadcrumbs' %>

<% if @forms.any? %>
  <table class="table table-striped table-hover">
    <thead class="thead-inverse">
      <tr>
        <th><%= t 'b.description' %></th>
        <th><%= t 'b.form_fields' %></th>
        <th><%= t 'b.form_submissions' %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <% @forms.each do |f| %>
        <tr>
          <td>
            <%= f.description %>
          </td>
          <td>
            <% if f.fields.none? %>
              0
            <% else %>
              <%= f.fields.size %> (<%= link_to t('b.overview').downcase, backend_form_fields_path(f) %>)
            <% end %>
          </td>
          <td>
            <% if f.submissions.none? %>
              0
            <% else %>
              <%= f.submissions.size %> (<%= link_to t('b.overview').downcase, backend_form_submissions_path(f) %>)
            <% end %>
          </td>
          <td class="text-xs-right">
            <%= link_to_edit [:backend, f] %>

            <% if f.submissions.any? %>
              <%= link_to icon(:trash), '#', data: { toggle: 'tooltip' }, title: t('b.msg.forms.removal_warning', submissions: f.submissions.size) %>
            <% else %>
              <%= link_to icon(:trash), backend_form_path(f), method: :delete, data: { confirm: t('b.msg.confirm') }, title: t('b.delete') %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p><%= t('b.msg.forms.explanation') %></p>
  <%= link_to t('b.msg.forms.add_first'), new_backend_form_path, class: 'btn btn-primary' %>
<% end %>
