<%= render 'backend/general_form_error', object: @form %>

<%= simple_form_for [:backend, @form] do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <%= t 'b.general' %>
        </div>

        <div class="card-block">
          <div class="row">
            <div class="col-md-6">
              <%= f.input :identifier %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <%= f.input :description, as: :string %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <%= t 'b.settings' %>
        </div>

        <div class="card-block">
          <div class="row">
            <div class="col-md-6">
              <%= f.input :from_name %>
              <%= f.input :from_email %>
            </div>

            <div class="col-md-6">
              <%= f.input :cc %>
              <%= f.input :bcc %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'backend/form_actions', cancel_url: backend_email_templates_path %>
<% end %>
