<% breadcrumb.add @model.description, edit_backend_email_template_path(@model) %>
<% breadcrumb.add t('b.edit'), edit_backend_email_template_path(@model) %>
<%= render 'backend/breadcrumbs' %>

<%= simple_form_for [:backend, @model] do |f| %>
  <%= render 'backend/email_templates/tabs', active: :general %>

  <div class="tabs-content">
    <fieldset class="radius">
      <legend><%= t 'b.general' %></legend>
      <%= f.input :identifier %>
      <%= f.input :description, as: :string %>
      <%= f.input :from_name %>
      <%= f.input :from_email %>
    </fieldset>
  </div>

  <%= render 'backend/form_actions', cancel_url: backend_email_templates_path %>
<% end %>
