<%= render 'backend/breadcrumbs' %>

<% if @email_templates.any? %>
  <table class="table table-striped table-hover">
    <thead class="thead-inverse">
      <tr>
        <th><%= t 'b.description' %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <% @email_templates.each do |s| %>
        <tr data-update-position="<%= update_position_backend_email_template_path(s) %>">
          <td><%= s.description %></td>
          <td class="text-right">
            <%= link_to_edit_translation [:backend, s] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p><%= t 'b.msg.no_items' %></p>
<% end %>
