<%= render 'backend/general_form_error', object: model %>

<%= simple_form_for [:backend, model] do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <%= t 'b.general' %>
        </div>

        <div class="card-block">
          <%= f.input :locale, collection: Udongo.config.i18n.cms.interface_locales, include_blank: false %>
          <%= f.input :term %>
          <%= f.input :synonyms, as: :string %>
        </div>
      </div>
    </div>
  </div>

  <%= render 'backend/form_actions', cancel_url: backend_search_synonyms_path %>
<% end %>
