<%= render 'backend/general_form_error', object: @form %>

<%= simple_form_for(@form, url: url) do |f| %>
  <div class="card">
    <div class="card-header">
      <%= t 'b.general' %>
    </div>

    <div class="card-block">
      <div class="row">
        <div class="col-md-6">
          <%= f.input :page_id, collection: @form.navigation_item.options_for_page, include_blank: true %>
        </div>

        <div class="col-md-6">
          <%= f.input :extra, as: :string %>
        </div>
      </div>

    </div>
  </div>

  <%= render 'backend/form_actions', cancel_url: backend_navigations_path %>
<% end %>
