<% breadcrumb.add @navigation.description, backend_navigations_path %>
<% breadcrumb.add t('b.edit'), edit_backend_navigation_item_path(@navigation, @model) %>
<% breadcrumb.add @model.label %>
<%= render 'backend/breadcrumbs' %>

<%= render 'backend/navigation/items/tabs', active: params[:translation_locale].to_sym %>

<%= simple_form_for(@translation, url: edit_translation_backend_navigation_item_path) do |f| %>
  <div class="card">
    <div class="card-header">
      <%= t 'b.msg.navigation.custom' %>
    </div>

    <div class="card-block">
      <%= f.input :label %>
      <%= f.input :path %>
    </div>
  </div>

  <%= render 'backend/form_actions', cancel_url: backend_navigations_path %>
<% end %>
