<%= simple_form_for @image, url: backend_images_path(klass: 'Article', id: @model.id) do |f| %>
  <div class="card">
    <div class="card-header">
      <!-- TODO translate me -->
      Upload new
    </div>

    <div class="card-block">
      <%= f.simple_fields_for :asset do |fa| %>
        <%= fa.input :filename, as: :file, label: false, required: false %>
        <%= fa.input :description, as: :text, required: false %>
      <% end %>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary"><%= t 'b.save' %></button>
      </div>
    </div>
  </div>
<% end %>

<div class="card">
  <div class="card-header">
    <!-- TODO translate -->
    Choose existing
  </div>

  <div class="card-block">
    <%= render 'filter' %>

    <div class="row">
      <% @assets.each do |a| %>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <%= link_to link_backend_images_path(klass: @model.class, id: @model.id, asset_id: a.id), style: '' do %>
            <%= image_tag a.image.url(550, 550, action: :resize_and_pad, background: :white), alt: '', class: 'img-fluid' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
