<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Backend - <%= Udongo.config.base.project_name %></title>

  <%= yield(:javascripts_head) %>
  <%= javascript_include_tag 'modernizr' %>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'backend/application', media: 'all' %>
  <%= yield(:stylesheets) %>
</head>
