<%= render 'backend/general_form_error', object: @field %>

<%= simple_form_for [:backend, @field], url: url do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <%= t 'b.general' %>
        </div>

        <div class="card-block">
          <%= f.input :identifier %>
          <%# FIXME: This should be a dropdown once we know the exact types to use. %>
          <%= f.input :field_type %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <%= t 'b.validations' %>
        </div>

        <div class="card-block">
          <%= f.input :presence %>
          <%= f.input :email %>
        </div>
      </div>
    </div>
  </div>

  <%= render 'backend/form_actions', cancel_url: edit_backend_form_path(@form) %>
<% end %>
