<% javascript 'backend/sortable' %>

<% breadcrumb.add t('b.form_fields') %>
<%= render 'backend/breadcrumbs' %>

<% if @form.fields.any? %>
  <table class="table table-striped table-hover">
    <thead class="thead-inverse">
      <tr>
        <th><%= t('b.name') %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <td colspan="2" class="text-xs-center">
          <%= link_to icon(:plus, t('b.msg.form_fields.add')), new_backend_form_field_path(@form), class: 'btn btn-primary' %>
        </td>
      </tr>
    </tfoot>

    <tbody>
      <% @form.fields.each do |f| %>
        <tr data-update-position="<%= update_position_backend_form_field_path(@form, f) %>">
          <td><%= f.identifier %></td>
          <td class="text-xs-right">
            <%= link_to_edit edit_backend_form_field_path(@form, f) %>
            <%= link_to_delete backend_form_field_path(@form, f) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="text-xs-center">
    <p>
      <%= t('b.msg.form_fields.explanation') %>
    </p>
    <p>
      <%= link_to t('b.msg.form_fields.add_first'), new_backend_form_field_path(@form), class: 'btn btn-primary' %>
    </p>
  </div>
<% end %>
