<% javascript 'backend/seo' %>

<% sluggable_field ||= 'title' %>
<% slug ||= nil %>

<%= content_tag :div, class: 'card', data: { seo: true, path: backend_seo_slugify_path, sluggable_input: "##{f.object_name}_#{sluggable_field}" } do %>
  <div class="card-header">
    <%= t 'b.msg.seo' %>
  </div>

  <div class="card-block">
    <% if slug.present? %>
      <%= f.input :seo_slug, as: :string, input_html: { value: slug } %>
    <% else %>
      <%= f.input :seo_slug, as: :string %>
    <% end %>

    <%= f.input(:seo_title, as: :string) if f.respond_to?(:seo_title) %>
    <%= f.input(:seo_description, as: :string) if f.respond_to?(:seo_description) %>
    <%= f.input(:seo_keywords, as: :string) if f.respond_to?(:seo_keywords) %>
    <%= f.input(:seo_custom, as: :string) if f.respond_to?(:seo_custom) %>
  </div>
<% end %>
