<%= render 'backend/general_form_error', object: @admin %>

<%= simple_form_for [:backend, @admin] do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <%= t 'b.msg.admins.personal_details' %>
        </div>

        <div class="card-block">
          <%= f.input :locale, collection: Udongo.config.i18n.cms.interface_locales, include_blank: false %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :email, required: true %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <%= t 'b.msg.admins.account_details' %>
        </div>

        <div class="card-block">
          <%= f.input :password, required: password_required? %>
          <%= f.input :password_confirmation, required: password_required? %>
        </div>
      </div>
    </div>
  </div>

  <%= render 'backend/form_actions', cancel_url: backend_admins_path %>
<% end %>
