<%= simple_form_for [:backend, @admin] do |f| %>
  <div class="row">
    <div class="large-6 columns">
      <fieldset class="radius">
        <legend><%= t 'b.msg.admins.personal_details' %></legend>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email, required: true %>
      </fieldset>
    </div>

    <div class="large-6 columns">
      <fieldset class="radius">
        <legend><%= t 'b.msg.admins.account_details' %></legend>
        <!-- TODO cleanup -->
        <%= f.input :password, required: @admin.new_record? %>
        <%= f.input :password_confirmation, required: @admin.new_record? %>
      </fieldset>
    </div>
  </div>

  <%= render 'backend/form_actions', cancel_url: backend_admins_path %>
<% end %>
