<%= render 'backend/breadcrumbs' %>

<p>
  <%= link_to icon(:plus, t('b.add')), new_backend_admin_path, class: 'button small' %>
</p>

<% if @admins.any? %>
  <table>
    <thead>
      <tr>
        <th><%= t 'b.name' %></th>
        <th><%= t 'b.email' %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <% @admins.each do |a| %>
        <tr>
          <td><%= a.full_name %></td>
          <td><%= mail_to a.email %></td>
          <td class="right">
            <%= link_to icon(:page_edit), edit_backend_admin_path(a) %>
            <%= link_to icon(:trash), backend_admin_path(a), method: :delete, data: { confirm: t('b.msg.confirm') }%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p><%= t 'b.msg.no_items' %></p>
<% end %>
