<%= render 'backend/breadcrumbs' %>

<p class="text-xs-right">
  <%= link_to icon(:plus, t('b.add')), new_backend_admin_path, class: 'btn btn-primary btn-sm' %>
</p>

<% if @admins.any? %>
  <table class="table table-hover table-striped">
    <thead class="thead-inverse">
      <tr>
        <th><%= t 'b.name' %></th>
        <th><%= t 'b.email' %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <% @admins.each do |a| %>
        <tr>
          <td><%= a.full_name %></td>
          <td><%= mail_to a.email %></td>
          <td class="text-xs-right">
            <%= link_to_edit [:backend, a] %>
            <%= link_to_delete [:backend, a] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p><%= t 'b.msg.no_items' %></p>
<% end %>
