<%= render 'backend/breadcrumbs' %>

<% if @search_terms.any? %>
  <table class="table table-hover table-striped">
    <thead class="thead-inverse">
      <tr>
        <th><%= t 'b.locale' %></th>
        <th><%= t 'b.search_term' %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <% @search_terms.each do |s| %>
        <tr>
          <td><%= s.locale.upcase %></td>
          <td><%= s.term %></td>
          <td class="text-right">
            <%= link_to icon(:clone), new_backend_search_synonym_path(search_locale: s.locale, term: s.term), title: t('b.msg.search_synonyms.create') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p><%= t 'b.msg.no_items' %></p>
<% end %>
