<%= render 'backend/breadcrumbs' %>

<% if @search_terms.any? %>
  <p>
    <%= link_to backend_search_terms_path, class: 'btn btn-danger', method: 'delete', data: { confirm: t('b.msg.confirm') } do %>
      <%= icon :trash %>
      <%= t('b.msg.search_terms.destroy_all') %>
    <% end %>
  </p>

  <table class="table table-hover table-striped">
    <thead class="thead-inverse">
      <tr>
        <th><%= t 'b.locale' %></th>
        <th><%= t 'b.search_term' %></th>
        <th><%= t 'b.times_used' %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <% @search_terms.each do |s| %>
        <tr>
          <td><%= s.locale.upcase %></td>
          <td><%= s.term %></td>
          <td><%= s.total %></td>
          <td class="text-right">
            <%= link_to icon(:clone), new_backend_search_synonym_path(search_locale: s.locale, term: s.term), title: t('b.msg.search_synonyms.create') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p><%= t 'b.msg.no_items' %></p>
<% end %>
