<div class="filter">
  <%= search_form_for([:backend, subject], class: 'p-4') do |f| %>
    <div class="form-inline">
      <div class="form-group mb-2">
        <%= f.search_field :to_name_cont, class: 'form-control mr-2', placeholder: 'Naam' %>
        <%= f.search_field :to_email_cont, class: 'form-control', placeholder: 'E-mailadres' %>
      </div>
    </div>

    <div class="form-inline mb-2">
      <div class="form-group">
        <%= f.search_field :cc_cont, class: 'form-control mr-2', placeholder: 'CC' %>
        <%= f.search_field :bcc_cont, class: 'form-control', placeholder: 'BCC' %>
      </div>
    </div>

    <div class="form-inline mb-2">
      <div class="form-group mr-2">
        <%= f.search_field :subject_cont, class: 'form-control', placeholder: 'Onderwerp' %>
      </div>
    </div>

    <div class="form-inline mb-2">
      <div class="form-group">
        <input type="submit" value="<%= t('b.search') %>" class="btn btn-primary mr-2" />
        <%= link_to t('b.reset'), backend_emails_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  <% end %>
</div>
