<% if object.present? && object.asset.present? %>

  <% if object.disallow_resize? %>
    <%= image_tag object.asset.image.url, alt: '', class: 'img-fluid' %>
  <% else %>
    <%= image_tag object.asset.image.url(1100, 1100, quality: 65), alt: '', class: 'img-fluid' %>
  <% end %>

  <% if object.caption.present? %>
    <% if Udongo.config.flexible_content.picture_caption_editor? %>
      <%= object.caption.html_safe %>
    <% else %>
      <div class="text-center">
        <%= object.caption %>
      </div>
    <% end %>
  <% end %>

<% else %>
  <%= t 'b.msg.flexible_content.no_picture_present' %>
<% end %>
