<% rows = model.content_rows(locale) %>
<fieldset id="content-rows">
  <legend><%= t 'b.flexible_content' %></legend>

  <% rows.where(locale: locale).each do |row| %>
    <div class="row" id="content-row-<%= row.id %>">
      <div class="large-12 columns">
        <ul class="button-group radius">
          <!-- TODO make rows draggable -->
          <li><%= link_to icon(:list_bullet, t('b.move')), '#', class: 'button small secondary' %></li>
          <li><%= link_to icon(:plus, t('b.msg.flexible_content.add_column')), new_backend_content_row_column_path(row), class: 'button small secondary' %></li>
          <li><%= link_to icon(:trash, t('b.msg.flexible_content.delete_row')), backend_content_row_path(row), class: 'button small secondary', method: :delete, data: { confirm: t('b.msg.confirm') } %></li>
        </ul>

        <div class="row">
          <% row.columns.each do |column| %>
            <div class="large-<%= column.width %> columns">
              <% content = column.content.decorate %>

              <%= render 'backend/content/text', text: content if content.text? %>
              <%= render 'backend/content/image', text: content if content.image? %>

              <%= link_to icon(:trash), backend_content_row_column_path(row, column), method: :delete, data: { confirm: t('b.msg.confirm') } %>
            </div>
          <% end %>
        </div>
        <hr>
      </div>
    </div>
  <% end %>

  <%= link_to icon(:plus, t('b.msg.flexible_content.add_row')), new_backend_content_row_path(klass: @model.class, id: @model.id, locale: locale), class: 'button small radius' %>
</fieldset>
