<% rows = model.content_rows(locale) %>
<% rows.where(locale: locale).each do |row| %>

  <div class="panel radius" id="content-row-<%= row.id %>">
    <div class="row">
      <div class="medium-12 columns">
        <!-- TODO use the acts_ast_list first? and last? to make sure not to show up/down when not possible -->

        <ul class="button-group radius">
          <% unless row.first? %>
            <li><%= link_to icon(:arrow_up, t('b.up')), move_up_backend_content_row_path(row), class: 'button small secondary' %></li>
          <% end %>

          <% unless row.last? %>
            <li><%= link_to icon(:arrow_down, t('b.down')), move_down_backend_content_row_path(row), class: 'button small secondary' %></li>
          <% end %>

          <li><%= link_to icon(:plus, t('b.msg.flexible_content.add_column')), new_backend_content_row_column_path(row), class: 'button small secondary' %></li>
          <li><%= link_to icon(:trash, t('b.msg.flexible_content.delete_row')), backend_content_row_path(row), class: 'button small secondary', method: :delete, data: { confirm: t('b.msg.confirm') } %></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <% row.columns.each do |column| %>
        <div class="large-<%= column.width %> columns">
          <% content = column.content.decorate %>

          <% Udongo.config.flexible_content_types.each do |content_type| %>
            <%= render("backend/content/#{content_type}", object: content) if content.content_type_is?(content_type)  %>
          <% end %>

          <ul class="button-group radius">
            <% edit_link = send("edit_backend_content_#{content.content_type}_path", content) %>
            <li><%= link_to icon(:pencil), edit_link, class: 'button small' %></li>
            <li><%= link_to icon(:trash), backend_content_row_column_path(row, column), class: 'button small', method: :delete, data: { confirm: t('b.msg.confirm') } %></li>
            <li><%= link_to icon(:wrench), edit_backend_content_row_column_path(row, column), title: column.width, class: 'button small' %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= link_to icon(:plus, t('b.msg.flexible_content.add_row')), new_backend_content_row_path(klass: @model.class, id: @model.id, locale: locale), class: 'button small radius' %>
