<% rows.where(locale: locale).each do |row| %>
  <div class="row" id="content-row-<%= row.id %>">
    <div class="large-12 columns">
      <p>
        <%= row.id %> / <%= link_to 'move', '#' %> /  <%= link_to 'add', '#' %><br>
        <%= link_to icon(:trash), backend_content_row_path(row), method: :delete, data: { confirm: t('b.msg.confirm') } %>
      </p>

      <hr>

      <div class="row">
        <% row.columns.each do |column| %>
          <div class="large-<%= column.width %> columns">
            <% if column.content.is_a?(ContentText) %>
              <p>Text.</p>
            <% end %>

            <% if column.content.is_a?(ContentImage) %>
              <p>Image.</p>
            <% end %>

            <%= link_to 'trash', '#' %>
            <%= link_to 'edit', '#' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<hr>

<%= link_to icon(:plus, t('b.add_row')), new_backend_content_row_path(klass: @model.class, id: @model.id, locale: locale) %>
