<% rows = model.content_rows(locale) %>
<% rows.where(locale: locale).each do |row| %>
  <fieldset class="radius">
    <div class="row" id="content-row-<%= row.id %>">
      <div class="medium-12 columns">
        <ul class="button-group radius">
          <li><%= link_to icon(:arrow_up, t('b.up')), '#', class: 'button small secondary' %></li>
          <li><%= link_to icon(:arrow_down, t('b.down')), '#', class: 'button small secondary' %></li>
          <li><%= link_to icon(:plus, t('b.msg.flexible_content.add_column')), new_backend_content_row_column_path(row), class: 'button small secondary' %></li>
          <li><%= link_to icon(:trash, t('b.msg.flexible_content.delete_row')), backend_content_row_path(row), class: 'button small secondary', method: :delete, data: { confirm: t('b.msg.confirm') } %></li>
        </ul>

        <div class="row">
          <% row.columns.each do |column| %>
            <div class="large-<%= column.width %> columns">
              <% content = column.content.decorate %>

              <% Udongo.config.flexible_content_types.each do |content_type| %>
                <%= render("backend/content/#{content_type}", object: content) if content.content_type_is?(content_type)  %>
              <% end %>

              <%= link_to icon(:trash), backend_content_row_column_path(row, column), method: :delete, data: { confirm: t('b.msg.confirm') } %>
              <%= link_to icon(:wrench, "(#{column.width})"), edit_backend_content_row_column_path(row, column) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>

<%= link_to icon(:plus, t('b.msg.flexible_content.add_row')), new_backend_content_row_path(klass: @model.class, id: @model.id, locale: locale), class: 'button small radius' %>
